*{
  font-family: "SF Pro", sans-serif;
  margin: 0;
  color: #fff;
}

body {
  background: #000000;
margin: 0;
}
/*nav*/
.nav-wrapper {
  background: #0005;
  backdrop-filter: blur(10px);
  margin: 0.8rem;
  border-radius: 1.2rem;
  border: 1px solid #fff5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff !important;
  padding: 0.2rem 1rem;
}
.nav-buttons-container {
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  gap: 0.5rem;
}

.nav-logo-container img {
  width: 2rem;
  display: flex;
  justify-content: center;
}
.nav-button{
  width: 1rem;
}
.nav-lang-text {
  font-size: 0.4rem 0.8rem;
}
.nav-lang {
  display: flex;
  align-items: center;
  gap:0.5rem;
  font-size: 0.7rem;
}
.novisible {
  display: none !important;
}
.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  background: #0005;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  margin: 0.5rem 1rem;
  padding: 1rem;
  border: 1px solid #fff5;
  border-radius: 1.2rem;
  width: 70dvw;
  position: absolute;
  right: 0;
  gap: 1rem;
  z-index: 10;
}
.nav-link-title {
  font-size: 1.5rem;
  display: block;
  text-decoration: none;
  color: #fff;
}

.nav-link-content {
  font-size: 0.9rem;
  display: block;
  text-decoration: none;
  color: #fff;
}
/*header*/
header {
  background: url("/main-assets/Ferrari SF71H, formula one, F1 sports cars, 2018 wallpaper.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100dvw;
  height: 100dvh;
  padding-top: 0.1rem;
  position: relative;
}
.header-title{
  background: #0005;
  backdrop-filter: blur(10px);
  border: 1px solid #fff5;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.2rem;
  width: 60dvw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header-title h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

.header-description {
  font-size: 0.8rem;
}
.widget-s1-content {
  font-family: "Major Mono Display", monospace;
  font-size: 0.7rem;
}
.header-latest-widget {
  width: 100dvw;
  padding:  0 1rem;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}
.widget-wrapper {
  display: flex;
  padding: 0.5rem;
  background: #0005;
  backdrop-filter: blur(10px);
  width: 100%;
  box-sizing: border-box;
  border-radius: 1.2rem;
  border: 1px solid #fff5;
  margin-bottom: 2rem;
}
.widget-image {
  height: 100%;
  width: 40%;
  border-radius: 1rem;
}
.widget-s1 {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;
  justify-content: space-between;
  height: 100%;
}
.widget-s1-title {
  letter-spacing: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}
.widget-content-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}
/*latest*/
h2 {
  font-weight: 400;
  font-size: 1.7rem;
}
.latest-title {
  display: block;
}
.latest-component {
  background: url("/main-assets/velocimetro-que-es-y-para-que-sirve-1.jpg.webp") no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 2rem;
}
.latest-button {
  background: #000a;
  border: 1px solid #fffb;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: fit-content;
}
.latest-description-container {
  background: #0005;
  backdrop-filter: blur(10px);
  border: 1px solid #fff7;
  border-radius: 1.2rem;
  width: 70dvw;
  padding: 1.5rem;
  margin-left: 5dvw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.latest-buttons {
  display: flex ;
  gap: 1rem;
  margin-top: 1rem;
}
.latest-button-text {
  font-family: "Major Mono Display", monospace;
  font-size: 0.8rem;
}