.widgetWrapper {
    width: 100dvw;
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget {
    display: flex;
    background: #0005;
  backdrop-filter: blur(10px);
  border: 1px solid #fff5;
  color: white;
  padding: 1rem;
  border-radius: 1.2rem;
  gap: 0.5rem;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.widgetImage {
    height: 10rem;
    width: 20rem;
    border-radius: 1rem;
}
.innerWidgetContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.widgetImageContainer {
    flex-shrink: 0;
    display: flex;
    gap : 1rem;
    border-right: 1px solid #fff5;
    width: 50%;
}
.widgetS1Title {
    font-size: 1.2rem;
    letter-spacing: 1rem;
}
@media (max-width: 768px) {
    .widget {
        flex-direction: column;
        align-items: center;
    }
    .widgetImageContainer {
        border-right: none;
        border-bottom: 1px solid #fff5;
        width: 100%;
        padding-bottom: 1rem;
    }
    .widgetImage {
        width: 100%;
        height: auto;
    }
}