
/*header*/
.mainHeaderSection {
  background: url("/images/Ferrari Sf71h F1 Formula io Wallpaper HD Car 1.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100dvw;
  height: 100dvh;
  padding-top: 1rem;
  position: relative;
}
.headerTitle{
  background: #0005;
  backdrop-filter: blur(10px);
  border: 1px solid #fff5;
  color: white;
  padding: 2rem;
  border-radius: 1.2rem;
  width: 50dvw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 5rem 1.5rem;
}
.headerTitleH1 {
  font-weight: 400;
  font-size: 2rem;
  display: inline-block;
}
.headerButton {
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid red;
  width: fit-content;
  border-radius: 20rem;
  background: rgba(166, 6, 6, 0.400);
  font-family:"Major Mono Display" ;
  font-size: 0.8rem;
}
.headerButton:hover {
  background: rgba(1);
}
.headerDescription {
  font-size: 0.9rem;
}




@media (min-width: 768px) {
    .headerTitle {
        width: 30dvw;
        margin: 3rem 1.5rem;
        padding: 2rem;
        gap: 1rem;
    }
    .headerTitleH1 {
        font-size: 3rem;
        font-weight:600;
    }
    .headerOverlay {
        width: 100dvw;
        height: 70dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .headerDescription {
        font-size: 1.2rem;
    }
}
