
.nav-main {
  position: fixed;
  width: 100dvw;
  z-index: 2;
}
.nav-wrapper {
  background: #0005;
  backdrop-filter: blur(10px);
  margin: 0rem 0.8rem 0.8rem 0.8rem;
  border-radius: 1.2rem;
  border: 1px solid #fff5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff !important;
  padding: 0.2rem 1rem;
}
.nav-buttons-container {
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  gap: 0.5rem;
  order: 3;
}

.nav-logo-container img {
  width: 2rem;
  display: flex;
  justify-content: center;
  order: 1;
}
.nav-button{
  width: 1rem;
}
.nav-lang-text {
  font-size: 0.4rem 0.8rem;
}
.nav-lang {
  display: flex;
  align-items: center;
  gap:0.5rem;
  font-size: 0.7rem;
}
.novisible {
  display: none !important;
}
.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  background: #0005;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  margin: 0.5rem 1rem;
  padding: 1.5rem;
  border: 1px solid #fff5;
  border-radius: 1.2rem;
  width: 70dvw;
  position: absolute;
  right: 0;
  gap: 1rem;
  z-index: 10;
}
.nav-link-title {
  font-size: 1.7rem;
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 0.25rem;
}

.nav-link-content {
  font-size: 0.9rem;
  display: block;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1px;
}