
.navMain {
  position: fixed;
  width: 100dvw;
  height: fit-content;
  z-index: 2;
  box-sizing: border-box;
}

.navWrapper {
  background: #0005;
  backdrop-filter: blur(10px);
  margin: 0.8rem 0.8rem 0.8rem 0.8rem;
  border-radius: 1.2rem;
  border: 1px solid #fff5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff !important;
  padding: 0.2rem 1rem;
}
.navButtonsContainer {
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  gap: 0.5rem;
  order: 3;
}

.navLogoContainerImg {
  display: flex;
  justify-content: center;
  order: 1;
  margin-left: 0.8rem;
} 
.navButton{
  width: 1rem;
}
.navLangText {
  font-size: 0.8rem;
  user-select: none;
}
.navLang {
  display: flex;
  align-items: center;
  gap:0.5rem;
  font-size: 0.7rem;
}
.novisible {
  display: none !important;
}
.navList {
  display: flex;
  flex-direction: column;
  list-style: none;
  background: #0005;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  margin: 0.5rem 1rem;
  padding: 1.5rem;
  border: 1px solid #fff5;
  border-radius: 1.2rem;
  width: 70dvw;
  position: absolute;
  right: 0;
  gap: 1rem;
  z-index: 10;
}
.navLinkTitle {
  font-size: 1.7rem;
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 0.25rem;
}

.navLinkContent {
  font-size: 0.9rem;
  display: block;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1px;
}
.navListPC {
  display: flex;
  background: none;
  margin: 0;
  padding: 0;
  width: fit-content;
  position: static;
  gap: 2rem;
}
.navElementPC {
  display: flex;
  align-items: center;
  text-decoration: none;

}
.navLinkTitlePC {
  font-size: 1rem;
  margin-bottom: 0;
  text-decoration: none;
}
.navElementPC:last-child {
  margin-right: 0.8rem;
}