
/*header*/
header {
  background: url("main-assets/Ferrari SF71H, formula one, F1 sports cars, 2018 wallpaper.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100dvw;
  height: 100dvh;
  padding-top: 1rem;
  position: relative;
}
.header-title{
  background: #0005;
  backdrop-filter: blur(10px);
  border: 1px solid #fff5;
  color: white;
  padding: 2rem;
  border-radius: 1.2rem;
  width: 50dvw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 5rem 1.5rem;
}
.header-title h1 {
  font-weight: 400;
  font-size: 2rem;
  display: inline-block;
}
.header-button {
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid red;
  width: fit-content;
  border-radius: 20rem;
  background: rgba(166, 6, 6, 0.400);
  font-family:"Major Mono Display" ;
  font-size: 0.8rem;
}
.header-button:hover {
  background: rgba(1);
}
.header-description {
  font-size: 0.9rem;
}

/*latest*/
h2 {
  font-weight: 400;
  font-size: 1.7rem;
}
.latest-title {
  display: block;
}
.latest-section {
  background: url("main-assets/velocimetro-que-es-y-para-que-sirve-1.jpg.webp") no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 2rem;
  height: 100dvh;
  position: relative;
}
.latest-button {
  background: #000a;
  border: 1px solid #fffb;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: fit-content;
}
.latest-description-container {
  background: #0005;
  backdrop-filter: blur(10px);
  border: 1px solid #fff7;
  border-radius: 1.2rem;
  width: 70dvw;
  padding: 1.5rem;
  margin-left: 5dvw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.latest-buttons {
  display: flex ;
  gap: 1rem;
  margin-top: 1rem;
}
.latest-button-text {
  font-family: "Major Mono Display", monospace;
  font-size: 0.8rem;
}
/*Standings list component*/
.standings-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  
  padding: 0 1rem;
}
.latest-standings-component {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  background: #0007;
  backdrop-filter: blur(10px);
  padding: 1rem;
  border: 1px solid #fff5;
  border-radius: 1.2rem;
  bottom: 0;
  margin: 1rem;

}
.standings-title {
  font-family: "Major Mono Display", monospace;
}
.standings-subtitle {
  font-family: "Major Mono Display", monospace;
}
.standings-number {
  font-family: "Space Grotesk", sans-serif;
}
h3 {
  font-weight: 400;
}
.standings-driver-image {
  width: 2rem;
  clip-path: circle(40.3% at 50% 50%);
}
.standing-points {
  text-align: center;
}
/*history section*/
.history-section {
  height: 100dvh;
  background: url("main-assets/Ayrton_Senna_in_1988.jpg") no-repeat center;
  background-size: cover;
}

@media (min-width: 768px) {
  .nav-link-content {
    display: none;
  }
  .nav-list {
    position: static;
    flex-direction: row;
    background: none;
    border: none;
    border-radius: none;
    backdrop-filter: none;
    padding: 0;
    margin: 0;
    width: fit-content;
    font-size: 1rem !important;
    order: 2;
  }
  .nav-link-title {
    font-size: 1rem;
  }
  .nav-lang {
    font-size: 1rem;
  }
  .open-button {
    display: none;
  }
}